<div class="card bg-light">
  <div class="card-body">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/equipes">Equipes</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{perfil.equipe.nome}} - {{perfil.equipe.lider.nome}} <span *ngIf="perfil.equipe.status == -1" class="badge badge-warning">Inativo</span></li>
</ol>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link btn {{abaAtiva}}" id="abaSubsAtivas"  (click)="subsAtivas(0)"><span *ngIf="acao == 'ativos'" class="badge badge-warning">{{paginacao.totalElementos}}</span>Sub Equipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn" id="abaSubsInativas" (click)="subsInativas(0)"><span *ngIf="acao == 'inativos'" class="badge badge-warning">{{paginacao.totalElementos}}</span> Inativos</a>
  </li>
  <li class="nav-item">
    <span class="btn-link btn" routerLink="cadastrarSub">cadastrar sub</span>
  </li>
</ul>
<div *ngIf="acao == 'ativos'">
<div *ngIf="perfil.subs == ''" class="alert alert-warning" role="alert">
    Nenhuma sub cadastrada!
 </div>
    <table class="table table-sm">
        <thead>
          <tr class="thead-dark">
            <th></th>
            <th>Nome</th>
            <th>Líder</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody *ngFor="let subs of perfil.subs.content"  >
          <tr  *ngIf="subs.status == 1" id="sub-{{subs.idSub}}">
            <td class="bg-warning"></td>
            <td><span class="btn btn-link">{{subs.nome}}</span></td>
            <td><span class="btn btn-link">{{subs.lider.nome}}<span *ngIf="subs.lider.conjugue"> e {{subs.lider.conjugue.nome}}</span></span></td>
            <td >
              <button  class="btn btn-outline-warning btn-sm"(click)="inativarSub(subs.idSub)">Inativar</button>
              <button  class="btn btn-outline-primary btn-sm" routerLink="/editarSub/{{perfil.equipe.idEquipe}}/{{subs.idSub}}">Editar</button>
            </td>
            
          </tr>
        </tbody>
        </table>
 </div>
 <div *ngIf="acao == 'inativos'">
    <table class="table table-sm">
        <thead>
          <tr class="thead-dark">
            <th></th>
            <th>Nome</th>
            <th>Líder</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody *ngFor="let subs of perfil.subs.content"  >
          <tr *ngIf="subs.status == -1" id="sub-{{subs.idSub}}">
            <td class="bg-warning"></td>
            <td><span class="btn btn-link">{{subs.nome}}</span></td>
            <td><span class="btn btn-link">{{subs.lider.nome}}<span *ngIf="subs.lider.conjugue"> e {{subs.lider.conjugue.nome}}</span></span></td>
            <td >
              <button  class="btn btn-success btn-sm"(click)="ativarSub(subs.idSub)">Ativar</button>
              <button  class="btn btn-danger btn-sm" (click)="excluirSub(subs.idSub)">Excluir definitivamente</button>
            </td>
          </tr>
        </tbody>
        </table>
 </div>
 <nav  class="justify-content-center d-flex">
  <ul class="pagination" *ngIf="sequenciaPaginacao != ''">
    <li  class="page-item" id="anterior">
      <a  *ngIf="acao == 'ativos'"class="page-link"  (click)="equipesAtivas(paginacao.anterior)">
        <span aria-hidden="true">&laquo;</span>
      </a>
      <a  *ngIf="acao == 'inativos'"class="page-link" (click)="equipesInativas(paginacao.anterior)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <span *ngFor="let pag  of sequenciaPaginacao; let i = index">
      <li  *ngIf="acao == 'ativos'" id="page-{{i}}" class="page-item btn-link "><a class="page-link" (click)="equipesAtivas(i)">{{i+1}}</a></li>
      <li *ngIf="acao == 'inativos'" id="page-{{i}}" class="page-item btn-link "><a class="page-link" (click)="equipesInativas(i)">{{i+1}}</a></li>
    </span>
    <li class="page-item" id="proximo">
      <a  *ngIf="acao == 'ativos'"class="page-link" (click)="equipesAtivas(paginacao.proximo)">
        <span aria-hidden="true">&raquo;</span>
      </a>
      <a  *ngIf="acao == 'inativos'"class="page-link" (click)="equipesInativas(paginacao.proximo)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  
</nav>
</div>
 </div>