
<div class="card bg-light">
  <!-- <div  *ngIf="mensagem == 1">
      <div class="alert alert-success" role="alert">
          Salvo com sucesso!
       </div>
    </div>
    <div  *ngIf="mensagem == 3">
      <div class="alert alert-danger" role="alert">
         Erro de consistência!
       </div>
    </div> -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link btn {{abaAtiva}}" id="abaEquipesAtivas"  (click)="equipesAtivas(0)"><span *ngIf="acao == 'ativos'" class="badge badge-warning">{{paginacao.totalElementos}}</span> Ativos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" id="abaEquipesInativas" (click)="equipesInativas(0)"><span *ngIf="acao == 'inativos'" class="badge badge-warning">{{paginacao.totalElementos}}</span> Inativos</a>
    </li>
    <li class="nav-item">
      <span class="btn-link btn" routerLink="cadastrarEquipe">cadastrar</span>
    </li>
  </ul>
  <ng-template #equipes>
  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Líder</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
<tbody *ngFor="let equipe of equipe" >
  <tr class="" id="equipe-{{equipe.idEquipe}}">
    <td><span routerLink="perfil/{{equipe.idEquipe}}"class="btn btn-link">{{equipe.nome}}</span></td>
    <td><span class="btn btn-link">{{equipe.lider.nome}}</span></td>
    <td >
      <span *ngIf="acao == 'ativos'">
        <button (click)="inativarEquipe(equipe.idEquipe)" class="btn btn-outline-warning btn-sm ">Inativar</button>
        <button  routerLink="/editarEquipe/{{equipe.idEquipe}}"class="btn btn-outline-primary btn-sm ">Editar</button>
  
      </span>
      <span *ngIf="acao == 'inativos'">
          <button (click)="ativarEquipe(equipe.idEquipe)" class="btn btn-outline-success btn-sm ">Ativar</button>
          <button  routerLink="/editarEquipe/{{equipe.idEquipe}}"class="btn btn-outline-primary btn-sm ">Editar</button>
          <button (click)="excluirEquipe(equipe.idEquipe)" class="btn btn-outline-danger btn-sm">Excluir definitivamente</button>
      </span>
    </td>
  </tr>
</tbody>
</table> 
<nav  class="justify-content-center d-flex">
  <ul class="pagination" *ngIf="sequenciaPaginacao != ''">
    <li  class="page-item" id="anterior">
      <a  *ngIf="acao == 'ativos'"class="page-link"  (click)="equipesAtivas(paginacao.anterior)">
        <span aria-hidden="true">&laquo;</span>
      </a>
      <a  *ngIf="acao == 'inativos'"class="page-link" (click)="equipesInativas(paginacao.anterior)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <span *ngFor="let pag  of sequenciaPaginacao; let i = index">
      <li  *ngIf="acao == 'ativos'" id="page-{{i}}" class="page-item btn-link "><a class="page-link" (click)="equipesAtivas(i)">{{i+1}}</a></li>
      <li *ngIf="acao == 'inativos'" id="page-{{i}}" class="page-item btn-link "><a class="page-link" (click)="equipesInativas(i)">{{i+1}}</a></li>
    </span>
    <li class="page-item" id="proximo">
      <a  *ngIf="acao == 'ativos'"class="page-link" (click)="equipesAtivas(paginacao.proximo)">
        <span aria-hidden="true">&raquo;</span>
      </a>
      <a  *ngIf="acao == 'inativos'"class="page-link" (click)="equipesInativas(paginacao.proximo)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  
</nav>
</ng-template>
<div  *ngIf="equipe == ''; else equipes">
  <div class="alert alert-warning" role="alert">
     Sem dados a apresentar!
   </div>
</div>
<div  *ngIf="mensagem == 3 && acao == 'ativos' ">
  <div class="alert alert-warning" role="alert">
     Ops! parece que você deseja <b>inativar</b> a equipe {{getEquipe.nome}}! antes disso, faça a ação necessária com as dependências abaixo!
   </div>
   <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Líder</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody *ngFor="let subs of getEquipe.subs">
      <tr  id="sub-{{subs.idSub}}">
        <td>{{subs.nome}}</td>
        <td>{{subs.lider.nome}}</td>
        <td *ngIf="subs.status == 1">
          <button  class="btn btn-warning btn-sm" (click)="inativarSub(subs.idSub)">Inativar</button>
          <button  class="btn btn-primary btn-sm" routerLink="editarSub/{{getEquipe.idEquipe}}/{{subs.idSub}}">Transferir</button>
        </td>
      </tr>
    </tbody>
    </table>
</div>
<div  *ngIf="mensagem == 3 && acao == 'inativos' ">
  <div class="alert alert-warning" role="alert">
     Ops! parece que você deseja <b>excluir</b> a equipe {{getEquipe.nome}}! antes disso, faça a ação necessária com as dependências abaixo!
   </div>
   <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Líder</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody *ngFor="let subs of getEquipe.subs">
      <tr id="sub-{{subs.idSub}}">
        <td>{{subs.nome}}</td>
        <td>{{subs.lider.nome}}</td>
        <td *ngIf="subs.status == -1 ">
          <button  class="btn btn-success btn-sm" routerLink="editarSub/{{ getEquipe.idEquipe}}/{{subs.idSub}}">Ativar e transferir</button>
          <button  class="btn btn-danger btn-sm" (clik)="excluirSub(subs.idSub)">Excluir definitivamente</button>
        </td>
      </tr>
    </tbody>
    </table>
</div>
</div>



