  <div class="card bg-light">
    <div class="card-body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/equipes">Equipes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
          </ol>
<div class="form-row">
    <div class="col">
  <input type="nome" [(ngModel)]="equipe.nome" class="form-control" id="equipeNome" name="equipeNome" placeholder="Nome">
  </div>
  <div class="col">
  <select  [(ngModel)]="equipe.lider"  name="lider" id="lider"class="form-control">
      <option  [ngValue]="equipe.lider" selected>{{equipe.lider.nome}}</option>
    <option *ngFor="let listaLider of lideres" [ngValue]="listaLider" >{{listaLider.nome}}</option>
  </select>
  </div>
  <button class="btn btn-primary" (click)="editarEquipe()">Salvar</button>
</div>
</div>
</div>
<div  *ngIf="mensagem == 1">
  <div class="alert alert-success" role="alert">
      Salvo com sucesso!
   </div>
</div>
<div  *ngIf="mensagem == 2">
  <div class="alert alert-danger" role="alert">
      Não cadastrado!
   </div>
</div>