<div class="card bg-light">
  <div class="card-body">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/equipes">Equipes</a></li>
          <li class="breadcrumb-item"><a routerLink="/equipes/perfil/{{e.idEquipe}}">{{e.nome}} - {{e.lider.nome}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{crumb}}</li>
        </ol>
        <div  *ngIf="mensagem == 1">
            <div class="alert alert-success" role="alert">
                Salvo com sucesso!
             </div>
          </div>
      <table  class="table table-hover table-sm">
          <thead>
              <tr class="thead-dark">
                <th>Nome</th>
                <th>Líder</th>
                <th>Equipe</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr id="sub-{{sub.idSub}}">
                <td><input [(ngModel)]="sub.nome" class="form-control" id="subNome" name="subNome" placeholder="Nome"></td>
                <td>
                  <select  [(ngModel)]="sub.lider" name="lider"class="form-control">
                    <option [ngValue]="sub.lider" selected>{{sub.lider.nome}}</option>
                    <option *ngFor="let l of lider" [ngValue]="l">{{l.nome}}</option>
                  </select>
                </td>
                <td>
                  <div *ngIf="acao == 'editar'">
                      <select  [(ngModel)]="sub.equipe"  class="form-control "name="equipe">
                          <option *ngFor="let e of equipe" [ngValue]="e">{{e.nome}}</option>
                        </select>
                  </div>
                  <div *ngIf="acao == 'cadastrar'">
                    <input disabled  class="form-control " value="{{e.nome}}"/>
                  </div>
                </td>
                <td><button class="btn btn-primary" (click)="cadastrarSub()">Salvar</button></td>
              </tr>


            </tbody>
</table>
</div>
</div>
