<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container ">
  <div class="card"><br>
  <div class="card-deck d-flex justify-content-center align-items-center container">
      <div routerLink="equipes" class="card text-white bg-dark mb-4 btn" style="max-width: 18rem;">
          <div class="card-header">Equipes</div>
        </div>
        <div routerLink="lideres" class="card text-white bg-dark mb-4 btn" style="max-width: 18rem;">
            <div class="card-header warning">Lideres</div>
          </div>
          <div routerLink="listaPd" class="card text-white bg-dark mb-4 btn" style="max-width: 18rem;">
            <div class="card-header warning">Relatórios</div>
          </div>
          <div routerLink="administracao" class="card text-white bg-dark mb-4 btn" style="max-width: 18rem;">
              <div class="card-header">Administração</div>
            </div>
  </div>
</div>

</div>
<div style="text-align:center"class="container">
  <router-outlet></router-outlet>
</div>



