<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><img src="assets/pd1.fw.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="equipes">Equipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lideres">Lideres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="listaPd">Relatório</a>
      </li>
    </ul>
    <span class="navbar-text">
      Parceiros de Deus - Arniqueira
    </span>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



