<div class="card bg-light">
 
      <div class="card-header ">
          <h2>{{equipe.nome}}</h2>
          <p><span class="badge badge-warning">{{hoje | date: 'dd/MM/yy'}}</span></p>
        </div>
        <div  *ngIf="mensagem == 1">
            <div class="alert alert-success" role="alert">
                Salvo com sucesso!
             </div>
        </div>
        <div  *ngIf="mensagem == 2">
            <div class="alert alert-danger" role="alert">
                Não cadastrado!
             </div>
        </div>
    <div *ngFor="let pd of PD;  let i = index" >
        <div *ngIf="pd.equipe.idEquipe == equipe.idEquipe">
          <div class="card-body ">
          <div class="form-row">
            <div class="col">
                <div class="input-group ">
                    <div class="input-group-prepend col-md-4">
                            <span class="badge badge-primary">{{i+1}}º </span><span class="input-group-text col-md-12">{{pd.lider.nome}}</span>
                    </div>
            <input [dropSpecialCharacters]="false" mask='0*.00' [(ngModel)]="pd.individual" class="form-control"  placeholder="Individual">
            </div>
            </div>
            <div class="col  col-md-4">
              <input [dropSpecialCharacters]="false" mask='0*.00'  [(ngModel)]="pd.celula" class="form-control"  placeholder="celula">
              
            </div>
                <button class="  btn btn-primary" (click)="cadastrarPd(pd)">Salvar</button>
          </div>
          </div>
      </div>
    </div>
</div>
